modules = ["nodejs-20", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "VEILCHAT"

[[workflows.workflow]]
name = "VEILCHAT"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=25596 pnpm --filter @workspace/veilchat run dev"
waitForPort = 25596

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25596
externalPort = 3000

[userenv]

[userenv.shared]
DATABASE_URL = "postgresql://postgres:VeilChat%402026Secure@db.zgmzbfejauplhzqwrdeq.supabase.co:5432/postgres"
SUPABASE_URL = "https://zgmzbfejauplhzqwrdeq.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpnbXpiZmVqYXVwbGh6cXdyZGVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2Mjg0NzgsImV4cCI6MjA5NTIwNDQ3OH0.kSdJL-isR2o0g6N1PRuS73dVWM783hPgG6JmegJcfeo"
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyA-jr0qrxkvisgeBzrxbVuEzpZt5WMnQ2M"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "veilchat-5d031.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "veilchat-5d031"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "veilchat-5d031.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "926730065046"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:926730065046:web:793cdf370e71fedcb6deb7"
EXPO_PUBLIC_SUPABASE_URL = "https://zgmzbfejauplhzqwrdeq.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpnbXpiZmVqYXVwbGh6cXdyZGVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2Mjg0NzgsImV4cCI6MjA5NTIwNDQ3OH0.kSdJL-isR2o0g6N1PRuS73dVWM783hPgG6JmegJcfeo"

[nix]
channel = "stable-25_05"
